<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Codebasket">
    <meta name="keywords" content="Cafeu, food, restaurant, html, template, bootstrap, business, clean, creative, designer, responsive, minimal">
    <meta name="type" content="Restaurant Template">
    <meta name="title" content="Cafeu - Food Restaurant Bootstrap HTML Template">
    <meta name="description" content="Codebasket food Bootstrap Website Template">
    <title>Gourmet Genius</title>
    <!-- ==============favicon=============== -->
    <link rel="shortcut icon" type="image/png" href="static/img/restaurant.png" />

    <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/font/icofont.min.css">
    <link rel="stylesheet" href="assets/css/animation/aos.css">
    <link rel="stylesheet" href="assets/css/meanmenu.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/nouislider.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>

<body>
    <!-- ======preloader==== -->
    <div id="preloader">
        <div class="loader3">
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- ======preloader==== -->
    <!-- ====main wrapper == -->
    <div class="wrapper">
        <!-- header  -->
        <header>
            <!-- header  -->
            <div class="header header-1">
                <!-- container  -->
                <div class="container">
                    <!-- header inner -->
                    <div class="header-inner">
                        <div class="logo">
                            <h2>Gourmet Genius</h2>
                            <!-- <a href="/"><img src="assets/img/logo/logo.png" alt="Logo not found" class="logo-img"></a> -->
                        </div>
                        <div class="header-right">
                            <div class="header-menu d-none d-lg-block">
                                <nav class="cf-header-menu" id="header-menu">
                                    <ul>
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/uploads">Predict</a></li>
                                        <li><a href="/about">About</a></li>
<!--                                        <li><a href="#">Order Now</a></li>-->
                                        <li><a href="https://youtu.be/2-5du2oVM5g">Watch Video</a></li>


                                    </ul>
                                </nav>
                            </div>
                            <div class="header-right-search-phone d-none d-lg-block ml-35">
                                    <a href="#" class="header-search" id="search">
                                        <!-- <span
                                        class="icofont-search-1"></span> -->
                                    </a>
                                    <a href="tel:+880123456789" class="header-phone">

                                        <!-- <img src="assets/img/icon/call.png" alt="Image not found"
                                        class="contact-icon"> +880 123 456 789</a> -->

                            </div>
                            <div class="d-lg-none dr-navbar-mobile-sign side-toggle">
                                <!-- <span class="headeer-navigaiton"><i class="icofont-navigation-menu"></i></span> -->
                                <div class="dr-navbar-sign menu-tab">
                                    <span class="dr-line-1"></span>
                                    <span class="dr-line-2"></span>
                                    <span class="dr-line-3"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- header inner end  -->

                </div>
                <!-- container end  -->
            </div>
            <!-- nav end -->
        </header>
        <!-- header end  -->

        <!-- dr-sidebar-information-area-start -->
        <div class="dr-sidebar-info side-info">
            <div class="dr-sidebar-logo-wrapper mb-25">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-8">
                        <div class="dr-sidebar-logo">
                            <a href="index.html"><img src="assets/img/logo/looogooo.png" alt="logo-img"></a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-4">
                        <div class="dr-sidebar-close-wrapper text-end">
                            <button class="dr-sidebar-close side-info-close"><i class="icofont-close-line"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dr-sidebar-menu-wrapper fix">
                <div class="cf-header-menu"></div>
            </div>

            <div class="dr-sidebar-btn-wrap mt-40">
                <a href="#"><span class="icofont-shopping-cart"><span class="cart-count">4</span></span></a>
                <a href="#"><i class="icofont-ui-user"></i></a>
            </div>
        </div>
        <div class="offcanvas-overlay"></div>
        <!-- dr-sidebar-information-area-end -->


        <!-- =======================body wrapper========= -->
        <div class="body-wrapper">
            <!-- ===================page banner============ -->
            <div class="page-banner" data-background="assets/img/abt1.jpg">
                <!-- container  -->
                <div class="container">
                    <!-- row  -->
                    <div class="row">
                        <div class="page-ban-content">
                            <h1 class="page-head" data-aos="fade-up" data-aos-duration="1000">About Us</h1>
                            <div class="breadcrumb-list" data-aos="fade-up" data-aos-duration="1500">
                            </div>
                        </div>
                    </div>
                    <!-- row end  -->
                </div>
                <!-- container end -->
            </div>
            <!-- ===================page banner end============ -->
            <!-- =========About====== -->
            <section>
                <div class="about about-1 cpy-8">
                    <!-- container  -->
                    <div class="container">
                        <!-- row  -->
                        <div class="row">
                            <div class="col-lg-6 col-md-6 mb-4" data-aos="fade-right" data-aos-duration="1000">
                                <div class="about-img">
                                    <img src="assets/img/image/chef.jpg" alt="">
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 mb-4" data-aos="fade-left" data-aos-duration="1000">
                                <div class="h-100 d-flex align-items-center pl-40">
                                    <div class="about-details">
                                        <h2 class="about-title">Why We Are The Best</h2>
                                        <h6>
                                            What sets us apart is our unwavering commitment to delivering an unparalleled dining experience.
                                            Our team of passionate chefs meticulously crafts each dish, infusing it with authentic flavors and a modern twist that tantalizes taste buds and transcends expectations.
                                            <br>
                                            We believe in the power of stories that food can tell, and with every plate, we share the rich narrative of India's diverse regions. Our dedication to using the freshest, high-quality ingredients and a harmonious blend of aromatic spices ensures that every bite is an exploration of India's culinary landscape.
                                            Whether you're a connoisseur of Indian cuisine or a curious newcomer, we invite you to discover why we stand proudly as the epitome of excellence in the world of Indian dining."
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- row end  -->
                    </div>
                    <!-- container end  -->
                </div>
            </section>
            <!-- =========About end====== -->
            <!-- ==============================================
                            Describe section
            ============================================== -->
            <section>
                <!-- describe  -->
                <!-- describe end  -->
            </section>
            <!-- ==============================================
                            Describe section end
            ============================================== -->

            <!-- ===========our team========= -->
            <section>
                <!-- team  -->
                <!-- team end  -->
            </section>
            <!-- ===========our team end========= -->

            <!-- ======check section======== -->
            <section>
            </section>
            <!-- ======check section end======== -->


            <!-- ==================Customers========== -->
            <section>
                <!-- customer  -->
                <!-- custome end  -->
            </section>
            <!-- ==================Customers end========== -->

            <!-- ========================Footer ============= -->
            <footer>
                <!-- footer section  -->
                <div class="footer-section footer-1" data-background="assets/img/abt2.jpg">
                    <!-- container  -->
                    <div class="container">
                        <!-- row  -->
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 my-2 smpadright40" data-aos="fade-up" data-aos-duration="1000">
                                <div class="footer-content-wrapper">
                                    <div class="footer-sec-head mb-4">
                                        <h4 class="footer-widget-title">Contact Us</h4>
                                    </div>
                                    <ul class="address">
                                        <li><span class="icofont-location-pin"></span>
                                            <p class="address-info">Mangalore, Karntaka, India</p>
                                        </li>

                                        <li><span class="icofont-email"></span>
                                            <div class="address-inner">
                                                <p class="address-info"><a href="mailto:nfo@example.com">gourmetgenius@gmail.com</a></p>
                                            </div>
                                        </li>

                                        <li><span class="icofont-ui-call"> </span>
                                            <div class="address-inner">
                                                <p class="address-info"><a href="tel:+123456679123">+91 7899869963</a></p>
                                                <p class="address-info"><a href="tel:+123456789">+91 8618066429</a></p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6 my-2 padleft40" data-aos="fade-up" data-aos-duration="1500">
                                <div class="footer-content-wrapper">
                                    <div class="footer-sec-head mb-4">
                                        <h4 class="footer-widget-title">Quick links</h4>
                                    </div>
                                    <ul class="qu-link">
                                        <li class="foot-list"><a href="#" class="footer-link">Pizza</a></li>
                                        <li class="foot-list"><a href="#" class="footer-link">Burger</a></li>
                                        <li class="foot-list"><a href="#" class="footer-link">Cake</a></li>
                                        <li class="foot-list"><a href="#" class="footer-link">Chocolate</a></li>
                                        <li class="foot-list"><a href="#" class="footer-link">Ice Cream</a></li>
                                        <li class="foot-list"><a href="#" class="footer-link">Pizza</a></li>
                                        <li class="foot-list"><a href="#" class="footer-link">Burger</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- row end  -->
                    </div>
                    <!-- container end  -->
                    <!-- last footer  -->
                    <div class="last-footer">
                        <div class="container">
                            <div class="row">
                                <div class="text-center">
                                    <p class="copyright-text">© Copyright Gourmet Genius of India. 2023 All Right Reserved</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- last footer end  -->
                </div>
                <!-- footer section end  -->
            </footer>
            <!-- ========================Footer end============= -->
        </div>
        <!-- =======================body wrapper end========= -->

    </div>
    <!-- ====main wrapper end == -->

    <!-- ======script======= -->
    <!-- =====jquery===== -->
    <script src="assets/js/jquery/jquery.min.js"></script>
    <!-- =====bootstrap===== -->
    <script src="assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- ======slider===== -->
    <script src="assets/js/swiper/swiper-bundle.min.js"></script>

    <!-- ===============animation========= -->
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/animation/aos.js"></script>
    <script src="assets/js/meanmenu.js"></script>
    <!-- ======mixitup======= -->
    <script src="assets/js/mixitup/mixitup.min.js"></script>
    <script src="assets/js/nouislider.js"></script>
    <!-- ======custom script====== -->
    <script src="assets/js/app.js"></script>

</body>

</html>