<footer>
                <!-- footer section  -->
                <div class="footer-section footer-1" data-background="assets/img/abt2.jpg">
                    <!-- container  -->
                    <div class="container">
                        <!-- row  -->
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 my-2 smpadright40" data-aos="fade-up" data-aos-duration="1000">
                                <div class="footer-content-wrapper">
                                    <div class="footer-sec-head mb-4">
                                        <h4 class="footer-widget-title">Contact Us</h4>
                                    </div>
                                    <ul class="address">
                                        <li><span class="icofont-location-pin"></span>
                                            <p class="address-info">Mangalore, Karntaka, India</p>
                                        </li>

                                        <li><span class="icofont-email"></span>
                                            <div class="address-inner">
                                                <p class="address-info"><a href="mailto:nfo@example.com">gourmetgenius@gmail.com</a></p>
                                            </div>
                                        </li>

                                        <li><span class="icofont-ui-call"> </span>
                                            <div class="address-inner">
                                                <p class="address-info"><a href="tel:+123456679123">+91 7899868863</a></p>
                                                <p class="address-info"><a href="tel:+123456789">+91 8618066429</a></p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- row end  -->
                    </div>
                    <!-- container end  -->
                    <!-- last footer  -->
                    <div class="last-footer">
                        <div class="container">
                            <div class="row">
                                <div class="text-center">
                                    <p class="copyright-text">© Copyright Gourmet Genius of India. 2023 All Right Reserved</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- last footer end  -->
                </div>
                <!-- footer section end  -->
            </footer>