 <header>
            <!-- header  -->
            <div class="header header-1">
                <!-- container  -->
                <div class="container">
                    <!-- header inner -->
                    <div class="header-inner">
                        <div class="logo">
                            <h2>Gourmet Genius</h2>
                                <span class="sm-title mb-0">Where Every Spice Tells a Story, and Every Bite Unfolds Tradition.</span>
                            <!-- <a href="/"><img src="assets/img/logo/logo.png" alt="Logo not found" class="logo-img"></a> -->
                        </div>
                        <div class="header-right">
                            <div class="header-menu d-none d-lg-block">
                                <nav class="cf-header-menu" id="header-menu">
                                    <ul>
                                        <li><a href="#header-menu">Home</a></li>
                                        <li><a href="/uploads">Predict</a></li>
                                        <li><a href="/about">About</a></li>
<!--                                        <li><a href="#">Order Now</a></li>-->
                                        <li><a href="https://youtu.be/2-5du2oVM5g">Watch Video</a></li>
                                       
                                       
                                    </ul>
                                </nav>
                            </div>
                            <div class="header-right-search-phone d-none d-lg-block ml-35">
                                    <a href="#" class="header-search" id="search">
                                        <!-- <span
                                        class="icofont-search-1"></span> -->
                                    </a>
                                    <a href="tel:+880123456789" class="header-phone">
                                        
                                        <!-- <img src="assets/img/icon/call.png" alt="Image not found" 
                                        class="contact-icon"> +880 123 456 789</a> -->
                                    
                            </div>
                            <div class="d-lg-none dr-navbar-mobile-sign side-toggle">
                                <!-- <span class="headeer-navigaiton"><i class="icofont-navigation-menu"></i></span> -->
                                <div class="dr-navbar-sign menu-tab">
                                    <span class="dr-line-1"></span>
                                    <span class="dr-line-2"></span>
                                    <span class="dr-line-3"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- header inner end  -->
                    
                </div>
                <!-- container end  -->
            </div>
            <!-- nav end -->
        </header>