<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Codebasket">
    <meta name="keywords" content="Cafeu, food, restaurant, html, template, bootstrap, business, clean, creative, designer, responsive, minimal">
    <meta name="type" content="Restaurant Template">
    <meta name="title" content=" Cafeu- Food Restaurant Bootstrap HTML 5 Template">
    <meta name="description" content="Codebasket food Bootstrap Website Template">
    <title>Gourmet Genius</title>

    <!-- ==============favicon=============== -->
    <link rel="shortcut icon" type="image/png" href="assets/img/restaurant.png" />

    <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/font/icofont.min.css">
    <link rel="stylesheet" href="assets/css/animation/aos.css">
    <link rel="stylesheet" href="assets/css/meanmenu.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/nouislider.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>

<body>

    <!-- Preloader Start -->
   
    <!-- Preloader End -->
    <!-- ======preloader==== -->
    <!-- ====main wrapper == -->
    <div class="wrapper">
        <!-- header  -->
       {%  include 'header.html' %}
        <!-- header end  -->

        <!-- dr-sidebar-information-area-start -->
        <div class="dr-sidebar-info side-info">
            <div class="dr-sidebar-logo-wrapper mb-25">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-8">
                        <div class="dr-sidebar-logo">
                            <a href="/"><img src="static/img/restaurant.png" alt="logo-img"></a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-4">
                        <div class="dr-sidebar-close-wrapper text-end">
                            <button class="dr-sidebar-close side-info-close"><i class="icofont-close-line"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dr-sidebar-menu-wrapper fix">
                <div class="cf-header-menu"></div>
            </div>

            <div class="dr-sidebar-btn-wrap mt-40">
                <a href="#"><span class="icofont-shopping-cart"><span class="cart-count">4</span></span></a>
                <a href="#"><i class="icofont-ui-user"></i></a>
            </div>
        </div>
        <div class="offcanvas-overlay"></div>
        <!-- dr-sidebar-information-area-end -->
        <!-- =======================body wrapper========= -->
        <div class="body-wrapper">
            <!-- banner  -->
            <br>
            <br>
            <br>
            <br>
            <section>
                <!-- banner  -->
                <div class="banner banner-1" data-background="assets/img/slider/index.jpg">
                    <!-- container  -->
                    <div class="container">
                        <!-- banner slider  -->
                        <div class="banner-slider">
                            <h4>Immerse yourself in centuries of Indian culinary heritage
                                <br>
                                as we present traditional recipes passed down through generations,
                                <br>
                                infused with a modern twist.</h4>
                            <br>
                            <h4>Embark on a Culinary Journey with us -
                                <br>
                                A Celebration of Authentic Indian Flavors!</h4>
                            <br>
                            <h4>We source the finest ingredients to ensure
                                <br>every dish bursts with freshness and authenticity.</h4>
                            <div class="swiper bannerSlider">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="row">
                                            <div class="col-md-6 my-2">
                                                <div class="slider-details">
                                                    <div class="text-inner">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ========video model======= -->
                            <div id="video-overlay" class="video-overlay">
                                <a class="video-overlay-close">&times;</a>
                            </div>
                        </div>
                        <!-- banner slider end  -->
                    </div>
                    <!-- container end  -->
                    <div class="banner-pagination"></div>
                </div>
                <!-- banner end  -->
            </section>
            <!-- banner end -->
            <!-- social sec  -->
            <!-- social sec end  -->
            <!-- ======feature===== -->
            <div class="feature cpy-8">
                <!-- container  -->
                <div class="container">
                    <!-- row  -->
                    <div class="row">
                        <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6 mb-4">
                            <div class="feature-card" data-aos="fade-up" data-aos-duration="1000">
                                <div class="feature-icon-sec">
                                    <div class="feature-box">
                                        <img src="assets/img/icon/1.png" alt="Image not found">
                                    </div>
                                </div>
                                <div class="feature-details" data-background="assets/img/icon/f-bg.png">
                                    <h3 class="feature-name"><a href="/">100% Swiss Quality</a></h3>
                                    <p class="feature-des">Lorem ipsum dol consectetur adipiscing elit, sed eiusmod tempor incididunt ut labore dolore magna aliqua</p>
                                    <a href="/" class="discover-bt">Discover More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6 mb-4">
                            <div class="feature-card" data-aos="fade-up" data-aos-duration="1500">
                                <div class="feature-icon-sec">
                                    <div class="feature-box">
                                        <img src="assets/img/icon/2.png" alt="Image not found">
                                    </div>
                                </div>
                                <div class="feature-details" data-background="assets/img/icon/f-bg.png">
                                    <h3 class="feature-name"><a href="/">Organic Production</a></h3>
                                    <p class="feature-des">Lorem ipsum dol consectetur adipiscing elit, sed eiusmod tempor incididunt ut labore dolore magna aliqua</p>
                                    <a href="/" class="discover-bt">Discover More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6 mb-4">
                            <div class="feature-card" data-aos="fade-up" data-aos-duration="2000">
                                <div class="feature-icon-sec">
                                    <div class="feature-box">
                                        <img src="assets/img/icon/3.png" alt="Image not found">
                                    </div>
                                </div>
                                <div class="feature-details" data-background="assets/img/icon/f-bg.png">
                                    <h3 class="feature-name"><a href="/">Food Law Certified</a></h3>
                                    <p class="feature-des">Lorem ipsum dol consectetur adipiscing elit, sed eiusmod tempor incididunt ut labore dolore magna aliqua</p>
                                    <a href="/" class="discover-bt">Discover More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6 mb-4">
                            <div class="feature-card" data-aos="fade-up" data-aos-duration="2500">
                                <div class="feature-icon-sec">
                                    <div class="feature-box">
                                        <img src="assets/img/icon/4.png" alt="Image not found">
                                    </div>
                                </div>
                                <div class="feature-details" data-background="assets/img/icon/f-bg.png">
                                    <h3 class="feature-name"><a href="/">Food Law Certified</a></h3>
                                    <p class="feature-des">Lorem ipsum dol consectetur adipiscing elit, sed eiusmod tempor incididunt ut labore dolore magna aliqua</p>
                                    <a href="/" class="discover-bt">Discover More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- row end  -->
                </div>
                <!-- container end  -->
            </div>
            <!-- ======feature end===== -->

            <!-- =========== Subscribe =========== -->
         
            <!-- =========== Subscribe end=========== -->


            <!-- ========================Footer ============= -->
            {%  include 'footer.html' %}
            <!-- ========================Footer end============= -->
        </div>
        <!-- =======================body wrapper end========= -->

    </div>
    <!-- ====main wrapper end == -->

    <!-- ======script======= -->
    <!-- =====jquery===== -->
    <script src="assets/js/jquery/jquery.min.js"></script>
    <!-- =====bootstrap===== -->
    <script src="assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- ======slider===== -->
    <script src="assets/js/swiper/swiper-bundle.min.js"></script>
    <!-- ===============animation========= -->
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/animation/aos.js"></script>
    <script src="assets/js/meanmenu.js"></script>
    <!-- ======mixitup======= -->
    <script src="assets/js/mixitup/mixitup.min.js"></script>
    <script src="assets/js/nouislider.js"></script>
    <!-- ======custom script====== -->
    <script src="assets/js/app.js"></script>
    <!-- ========mixitup init========= -->
    <script src="assets/js/mixitup.js"></script>


</body>

</html>